<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://io.jmix.ai.backend/menu.application.title" opened="true">
        <item view="ChatView" title="msg://io.jmix.ai.backend.view.chat/chatView.title"/>
        <item view="Parameters.list" title="msg://io.jmix.ai.backend.view.parameters/parametersListView.title"/>
        <item view="VectorStoreView" title="msg://io.jmix.ai.backend.view.vectorstore/vectorStoreView.title"/>
        <item view="User.list" title="msg://io.jmix.ai.backend.view.user/UserListView.title"/>
    </menu>

</menu-config>